@media (min-width: 320px) and (max-width: 479px) {

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .allti {
    flex-direction: column;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  textarea {
    width: 94% !important;
  }

  .trackerLogo {
    position: absolute;
  }

  .para1 {
    color: #fff;
  }

  .trackerLogo img {
    width: 60%;
    margin-top: 3rem;
  }

  .trackerLogo .mb-16 {
    display: flex;
    justify-content: center;
  }

  .responsiveForm {
    position: absolute !important;
    width: 100%;
  }

  .responsiveForm img {
    width: 43%;
    margin-top: 0;
    margin-left: 4rem;
  }

  .responsiveForm .formMain {
    margin: 30px 0 0 0;
  }

  .responsiveForm .formMain input {
    padding-left: 12px;
  }

  nav {
    display: none !important;
  }

  .resp-main-dash {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .schedule-table {
    width: 100%;
  }

  .left-col,
  .right-body,
  .schedule-table,
  .database-table,
  .tools-table {
    width: 96% !important;
    margin-left: 2%;
  }

  .carousel-container .right-body {
    padding: 59px 0 0 20px;
  }

  .chk-btn-background {
    margin-left: 2% !important;
    margin-bottom: 15px;
  }

  .right-body .date-lbl {
    float: left;
  }

  .right-body label {
    margin-left: 2% !important;
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .hr {
    margin-left: 0 !important;
    width: 100% !important;
  }

  navigation-mob {
    display: block !important;
  }

  #sBar {
    display: none;
  }

  .headingSchedule {
    width: 100%;
  }

  .f-d-c {
    flex-direction: column;
  }

  .f-d-c h1 {
    font-size: 18px;
  }

  .f-d-c .date {
    margin-left: 0 !important;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  .mL0 {
    margin-left: 0 !important;
  }

  .cal-div hr {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
  }

  .res-d {
    flex-direction: column;
  }

  .sec1 .h-12 {
    height: auto !important;
  }

  .sec1 .completed {
    top: 5px;
    left: 5px;
  }

  .cardForm .allButtons {
    display: flex;
    justify-content: space-between;
  }

  .cardForm .allButtons button {
    padding: 6px 16px !important;
    font-size: 8px !important;
    margin-right: 0 !important;
    margin: 0 12px;

  }

  .inProgFur {
    flex-direction: row-reverse;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
  }

  .inProgFur .h-12 {
    height: auto !important;
  }

  .inProgFur .buttonBlue {
    margin-right: 0 !important;
  }

  .inProgFur .january {
    font-size: 15px;
  }

  .inProgFur .checkFur {
    padding: 5px !important;
  }

  .tcPage .tcRec {
    text-align: center;
    height: auto;
    width: 84%;
    margin-bottom: 2rem;
  }

  .tcPage .sDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .tcPage .ml-12 {
    margin-left: 4%;
    padding-left: 0 !important;
  }

  .tcPage .tracks {
    flex-direction: column;
    width: 100%;
  }


  .tracks-comp {
    width: auto;
    flex-direction: column;
  }

  .tcPage .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85px;
    margin-top: 20px;
  }

  .tcPage .tracks div {
    width: 100%;
  }

  .activiHead {
    margin-left: 4%;
    margin-top: -20px;
  }

  .data-div {
    width: auto !important;
  }

  .tcPage .tracks-comp {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .profile .cen .cenCard {
    width: 195px;
  }

  .data-div p {
    width: auto !important;
  }

  .tcPage .main {
    border: none;
  }

  .notes-content {
    margin: 0 !important;
    padding: 20px !important;
    width: auto !important;
    height: 100vh !important;
  }

  .modal-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
  }

  .btnCon {
    margin-top: 2rem !important;
  }

  .pee-content,
  .snapshots-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
    overflow: inherit !important;
  }

  .mainDb .upperCon {
    flex-direction: column;
    margin-left: 4%;
  }

  .mainDb .massMessage-heading h1 {
    margin-bottom: 15px;
  }

  .mainDb .sync-Btn {
    margin-top: 15px;
  }

  .sMainDb .form1 input {
    width: 100%;
  }

  .sMainDb .asda {
    margin: 2.5rem 15px;
  }

  .sMainDb .databaseParagraph {
    margin-top: 15px;
  }

  .dbpage {
    flex-direction: column;
    margin-left: 4% !important;
  }

  .style1 {
    display: none;
  }

  .breeze {
    padding-left: 0 !important;
    margin-left: 4% !important;
  }

  .vr {
    padding-left: 0 !important;
  }

  .dbpage .date {
    margin-left: 0;
  }

  .dbFor .-mx-2 {
    margin-left: 4% !important;
  }

  .dbFor .bcv {
    flex-direction: column;
  }

  .dbFor .bcv .h-12 {
    height: auto !important;
  }

  .dbAllB .w-1\/4 {
    width: auto !important;
  }

  .dbAllB {
    margin: 25px 0;
    padding: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 0 !important;
  }

  .inputvision input {
    width: 94% !important;
  }

  .ttFur {
    flex-direction: column;
  }

  .ttFur .h-12 {
    height: auto !important;
  }

  .dbFor .react-date-picker {
    width: 94% !important;
  }

  .dbFor .react-date-picker svg {
    width: 13px;
    margin-top: -3px;
  }

  .dbFor {
    width: 94%;
  }

  .mainDiv {
    flex-direction: column;
  }

  .res-hide {
    display: none;
  }

  .mainF {
    flex-direction: column;
  }

  .mainF .trackerLogo {
    position: unset;
  }

  .mainF .bg-main {
    color: white;
    width: auto;
    margin: auto;
    padding: 0 25px;
  }

  .mainF .text1,
  .mainF .text2 {
    display: contents;
  }

  .mainF .heading {
    padding-left: 0;
    text-align: center;
  }

  .mainF .mainDiv {
    margin-bottom: 15px;
    justify-content: space-around;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mainF .text1 input {
    margin-bottom: 15px;
    width: 100%;
  }

  .mainF .text2 input {
    width: 100%;
  }

  .mainF .btn5 {
    margin-bottom: 25px;
    margin-top: -10px;
  }

  .mainF .bg-text h2 {
    margin-bottom: 15px;
  }

  .customFood .top1 {
    margin: 0 15px;
  }

  .customFood .top2 .forBg-clr {
    padding: 0 15px;
  }

  .customFood .mainDd,
  .customFood .subFd {
    flex-direction: column;
  }

  .customFood .medicationHeading2 {
    margin-bottom: 15px;
  }

  .customFood .check-mar {
    margin-right: 8%;
    width: 50%;
  }

  .customFood .label {
    width: auto;
  }

  .customFood .mL0 {
    margin-left: 0 !important;
  }

  .customFood .pl-12 {
    padding-left: 0 !important;
  }

  .medicationHeading {
    margin-left: 15px;
  }

  .customFood .subFd .check-mar {
    width: auto;
  }

  .customFood .subFd .showing {
    margin-bottom: 15px;
  }

  .customFood .ml-8 {
    margin-left: 0;
  }

  .notess {
    padding: 0 15px;
  }

  .bbBoxes .kchni {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bbBoxes .blueBtn18,
  .bbBoxes .greyBtn18 {
    padding: 6px 25px;
  }

  .sixNotes {
    padding: 0 15px;
  }

  .sixNotes textarea {
    width: 100%;
  }

  .ttPlan .dClm {
    flex-direction: column;
  }

  .ttPlan .dClm .medicationHeading2 {
    margin-bottom: 15px;
  }

  .ttPlan .pl-12 {
    padding-left: 15px;
  }

  .ttPlan .mt-6 {
    margin-top: 0;
  }

  .ttPlan .width-full {
    width: 100%;
    padding: 0;
  }

  .mle15 {
    padding-left: 15px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .overFlowDiv {
    overflow: scroll;
  }

  .overFlowDiv table .last button {
    margin-bottom: 5px;
  }

}

@media (min-width: 480px) and (max-width: 574px) {

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .allti {
    flex-direction: column;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  .label {
    width: 25%;
  }

  .abc {
    width: 53% !important;
    margin-top: 15px;
    height: 44px;
  }

  textarea {
    width: 100%;
  }

  .trackerLogo {
    position: absolute;
  }

  .para1 {
    color: #fff;
  }

  .trackerLogo img {
    width: 60%;
    margin-top: 3rem;
  }

  .trackerLogo .mb-16 {
    display: flex;
    justify-content: center;
  }

  .responsiveForm {
    position: absolute !important;
    width: 100%;
  }

  .responsiveForm img {
    width: 43%;
    margin-top: 0;
    margin-left: 4rem;
  }

  .responsiveForm .formMain {
    margin: 30px 0 0 0;
  }

  .responsiveForm .formMain input {
    padding-left: 12px;
  }

  nav {
    display: none !important;
  }

  .resp-main-dash {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .schedule-table {
    width: 100%;
  }

  .left-col,
  .right-body,
  .schedule-table,
  .database-table,
  .tools-table {
    width: 96% !important;
    margin-left: 2%;
  }

  .carousel-container .right-body {
    padding: 59px 0 0 20px;
  }

  .chk-btn-background {
    margin-left: 2% !important;
    margin-bottom: 15px;
  }

  .right-body .date-lbl {
    float: left;
  }

  .right-body label {
    margin-left: 2% !important;
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .hr {
    margin-left: 0 !important;
    width: 100% !important;
  }

  navigation-mob {
    display: block !important;
  }

  #sBar {
    display: none;
  }

  .headingSchedule {
    width: 100%;
  }

  .f-d-c {
    flex-direction: column;
  }

  .f-d-c h1 {
    font-size: 18px;
  }

  .f-d-c .date {
    margin-left: 0 !important;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  .mL0 {
    margin-left: 0 !important;
  }

  .cal-div hr {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
  }

  .res-d {
    flex-direction: column;
  }

  .sec1 .h-12 {
    height: auto !important;
  }

  .sec1 .completed {
    top: 5px;
    left: 5px;
  }

  .cardForm .allButtons {
    display: flex;
    justify-content: space-between;
  }

  .cardForm .allButtons button {
    padding: 6px 16px !important;
    font-size: 8px !important;
    margin-right: 0 !important;
    margin: 0 12px;

  }

  .inProgFur {
    flex-direction: row-reverse;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
  }

  .inProgFur .h-12 {
    height: auto !important;
  }

  .inProgFur .buttonBlue {
    margin-right: 0 !important;
  }

  .inProgFur .january {
    font-size: 15px;
  }

  .inProgFur .checkFur {
    padding: 5px !important;
  }

  .tcPage .tcRec {
    text-align: center;
    height: auto;
    width: 84%;
    margin-bottom: 2rem;
  }

  .tcPage .sDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .tcPage .ml-12 {
    margin-left: 4%;
    padding-left: 0 !important;
  }

  .tcPage .tracks {
    flex-direction: column;
    width: 100%;
  }


  .tracks-comp {
    width: auto;
    flex-direction: column;
  }

  .tcPage .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85px;
    margin-top: 20px;
  }

  .tcPage .tracks div {
    width: 100%;
  }

  .activiHead {
    margin-left: 4%;
    margin-top: -20px;
  }

  .data-div {
    width: auto !important;
  }

  .tcPage .tracks-comp {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .profile .cen .cenCard {
    width: 195px;
  }

  .data-div p {
    width: auto !important;
  }

  .tcPage .main {
    border: none;
  }

  .notes-content {
    margin: 0 !important;
    padding: 20px !important;
    width: auto !important;
    height: 100vh !important;
  }

  .modal-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
  }

  .btnCon {
    margin-top: 2rem !important;
  }

  .pee-content,
  .snapshots-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
    overflow: inherit !important;
  }

  .mainDb .upperCon {
    flex-direction: column;
    margin-left: 4%;
  }

  .mainDb .massMessage-heading h1 {
    margin-bottom: 15px;
  }

  .mainDb .sync-Btn {
    margin-top: 15px;
  }

  .sMainDb .form1 input {
    width: 100%;
  }

  .sMainDb .asda {
    margin: 2.5rem 15px;
  }

  .sMainDb .databaseParagraph {
    margin-top: 15px;
  }

  .dbpage {
    flex-direction: column;
    margin-left: 4% !important;
  }

  .style1 {
    display: none;
  }

  .breeze {
    padding-left: 0 !important;
    margin-left: 4% !important;
  }

  .vr {
    padding-left: 0 !important;
  }

  .dbpage .date {
    margin-left: 0;
  }

  .dbFor .-mx-2 {
    margin-left: 4% !important;
  }

  .dbFor .bcv {
    flex-direction: column;
  }

  .dbFor .bcv .h-12 {
    height: auto !important;
  }

  .dbAllB .w-1\/4 {
    width: auto !important;
  }

  .dbAllB {
    margin: 25px 0;
    padding: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 0 !important;
  }

  .inputvision input {
    width: 94% !important;
  }

  .ttFur {
    flex-direction: column;
  }

  .ttFur .h-12 {
    height: auto !important;
  }

  .dbFor .react-date-picker {
    width: 94% !important;
  }

  .dbFor .react-date-picker svg {
    width: 13px;
    margin-top: -3px;
  }

  .dbFor {
    width: 94%;
  }

  .mainDiv {
    flex-direction: column;
  }

  .res-hide {
    display: none;
  }

  .mainF {
    flex-direction: column;
  }

  .mainF .trackerLogo {
    position: unset;
  }

  .mainF .bg-main {
    color: white;
    width: auto;
    margin: auto;
    padding: 0 25px;
  }

  .mainF .text1,
  .mainF .text2 {
    display: contents;
  }

  .mainF .heading {
    padding-left: 0;
    text-align: center;
  }

  .mainF .mainDiv {
    margin-bottom: 15px;
    justify-content: space-around;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mainF .text1 input {
    margin-bottom: 15px;
    width: 100%;
  }

  .mainF .text2 input {
    width: 100%;
  }

  .mainF .btn5 {
    margin-bottom: 25px;
    margin-top: -10px;
  }

  .mainF .bg-text h2 {
    margin-bottom: 15px;
  }

  .customFood .top1 {
    margin: 0 15px;
  }

  .customFood .top2 .forBg-clr {
    padding: 0 15px;
  }

  .customFood .mainDd,
  .customFood .subFd {
    flex-direction: column;
  }

  .customFood .medicationHeading2 {
    margin-bottom: 15px;
  }

  .customFood .check-mar {
    margin-right: 8%;
    width: 50%;
  }

  .customFood .label {
    width: auto;
  }

  .customFood .mL0 {
    margin-left: 0 !important;
  }

  .customFood .pl-12 {
    padding-left: 0 !important;
  }

  .medicationHeading {
    margin-left: 15px;
  }

  .customFood .subFd .check-mar {
    width: auto;
  }

  .customFood .subFd .showing {
    margin-bottom: 15px;
  }

  .customFood .ml-8 {
    margin-left: 0;
  }

  .notess {
    padding: 0 15px;
  }

  .bbBoxes .kchni {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bbBoxes .blueBtn18,
  .bbBoxes .greyBtn18 {
    padding: 6px 25px;
  }

  .sixNotes {
    padding: 0 15px;
  }

  .sixNotes textarea {
    width: 100%;
  }

  .ttPlan .dClm {
    flex-direction: column;
  }

  .ttPlan .dClm .medicationHeading2 {
    margin-bottom: 15px;
  }

  .ttPlan .pl-12 {
    padding-left: 15px;
  }

  .ttPlan .mt-6 {
    margin-top: 0;
  }

  .ttPlan .width-full {
    width: 100%;
    padding: 0;
  }

  .mle15 {
    padding-left: 15px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .overFlowDiv {
    overflow: scroll;
  }

  .overFlowDiv table .last button {
    margin-bottom: 5px;
  }
}

@media (min-width: 575px) and (max-width: 684px) {

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .allti {
    flex-direction: column;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  textarea {
    width: 100%;
  }

  .trackerLogo {
    position: absolute;
  }

  .para1 {
    color: #fff;
  }

  .trackerLogo img {
    width: 60%;
    margin-top: 3rem;
  }

  .trackerLogo .mb-16 {
    display: flex;
    justify-content: center;
  }

  .responsiveForm {
    position: absolute !important;
    width: 100%;
  }

  .responsiveForm img {
    width: 43%;
    margin-top: 0;
    margin-left: 4rem;
  }

  .responsiveForm .formMain {
    margin: 30px 0 0 0;
  }

  .responsiveForm .formMain input {
    padding-left: 12px;
  }

  nav {
    display: none !important;
  }

  .resp-main-dash {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .schedule-table {
    width: 100%;
  }

  .left-col,
  .right-body,
  .schedule-table,
  .database-table,
  .tools-table {
    width: 96% !important;
    margin-left: 2%;
  }

  .carousel-container .right-body {
    padding: 59px 0 0 20px;
  }

  .chk-btn-background {
    margin-left: 2% !important;
    margin-bottom: 15px;
  }

  .right-body .date-lbl {
    float: left;
  }

  .right-body label {
    margin-left: 2% !important;
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .hr {
    margin-left: 0 !important;
    width: 100% !important;
  }

  navigation-mob {
    display: block !important;
  }

  #sBar {
    display: none;
  }

  .headingSchedule {
    width: 100%;
  }

  .f-d-c {
    flex-direction: column;
  }

  .f-d-c h1 {
    font-size: 18px;
  }

  .f-d-c .date {
    margin-left: 0 !important;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  .mL0 {
    margin-left: 0 !important;
  }

  .cal-div hr {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
  }

  .res-d {
    flex-direction: column;
  }

  .sec1 .h-12 {
    height: auto !important;
  }

  .sec1 .completed {
    top: 5px;
    left: 5px;
  }

  .cardForm .allButtons {
    display: flex;
    justify-content: space-between;
  }

  .cardForm .allButtons button {
    padding: 6px 16px !important;
    font-size: 8px !important;
    margin-right: 0 !important;
    margin: 0 12px;

  }

  .inProgFur {
    flex-direction: row-reverse;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
  }

  .inProgFur .h-12 {
    height: auto !important;
  }

  .inProgFur .buttonBlue {
    margin-right: 0 !important;
  }

  .inProgFur .january {
    font-size: 15px;
  }

  .inProgFur .checkFur {
    padding: 5px !important;
  }

  .tcPage .tcRec {
    text-align: center;
    height: auto;
    width: 84%;
    margin-bottom: 2rem;
  }

  .tcPage .sDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .tcPage .ml-12 {
    margin-left: 4%;
    padding-left: 0 !important;
  }

  .tcPage .tracks {
    flex-direction: column;
    width: 100%;
  }


  .tracks-comp {
    width: auto;
    flex-direction: column;
  }

  .tcPage .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85px;
    margin-top: 20px;
  }

  .tcPage .tracks div {
    width: 100%;
  }

  .activiHead {
    margin-left: 4%;
    margin-top: -20px;
  }

  .data-div {
    width: auto !important;
  }

  .tcPage .tracks-comp {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .profile .cen .cenCard {
    width: 195px;
  }

  .data-div p {
    width: auto !important;
  }

  .tcPage .main {
    border: none;
  }

  .notes-content {
    margin: 0 !important;
    padding: 20px !important;
    width: auto !important;
    height: 100vh !important;
  }

  .modal-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
  }

  .btnCon {
    margin-top: 2rem !important;
  }

  .pee-content,
  .snapshots-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
    overflow: inherit !important;
  }

  .mainDb .upperCon {
    flex-direction: column;
    margin-left: 4%;
  }

  .mainDb .massMessage-heading h1 {
    margin-bottom: 15px;
  }

  .mainDb .sync-Btn {
    margin-top: 15px;
  }

  .sMainDb .form1 input {
    width: 100%;
  }

  .sMainDb .asda {
    margin: 2.5rem 15px;
  }

  .sMainDb .databaseParagraph {
    margin-top: 15px;
  }

  .dbpage {
    flex-direction: column;
    margin-left: 4% !important;
  }

  .style1 {
    display: none;
  }

  .breeze {
    padding-left: 0 !important;
    margin-left: 4% !important;
  }

  .vr {
    padding-left: 0 !important;
  }

  .dbpage .date {
    margin-left: 0;
  }

  .dbFor .-mx-2 {
    margin-left: 4% !important;
  }

  .dbFor .bcv {
    flex-direction: column;
  }

  .dbFor .bcv .h-12 {
    height: auto !important;
  }

  .dbAllB .w-1\/4 {
    width: auto !important;
  }

  .dbAllB {
    margin: 25px 0;
    padding: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 0 !important;
  }

  .inputvision input {
    width: 94% !important;
  }

  .ttFur {
    flex-direction: column;
  }

  .ttFur .h-12 {
    height: auto !important;
  }

  .dbFor .react-date-picker {
    width: 94% !important;
  }

  .dbFor .react-date-picker svg {
    width: 13px;
    margin-top: -3px;
  }

  .dbFor {
    width: 94%;
  }

  .mainDiv {
    flex-direction: column;
  }

  .res-hide {
    display: none;
  }

  .mainF {
    flex-direction: column;
  }

  .mainF .trackerLogo {
    position: unset;
  }

  .mainF .bg-main {
    color: white;
    width: auto;
    margin: auto;
    padding: 0 25px;
  }

  .mainF .text1,
  .mainF .text2 {
    display: contents;
  }

  .mainF .heading {
    padding-left: 0;
    text-align: center;
  }

  .mainF .mainDiv {
    margin-bottom: 15px;
    justify-content: space-around;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mainF .text1 input {
    margin-bottom: 15px;
    width: 100%;
  }

  .mainF .text2 input {
    width: 100%;
  }

  .mainF .btn5 {
    margin-bottom: 25px;
    margin-top: -10px;
  }

  .mainF .bg-text h2 {
    margin-bottom: 15px;
  }

  .customFood .top1 {
    margin: 0 15px;
  }

  .customFood .top2 .forBg-clr {
    padding: 0 15px;
  }

  .customFood .mainDd,
  .customFood .subFd {
    flex-direction: column;
  }

  .customFood .medicationHeading2 {
    margin-bottom: 15px;
  }

  .customFood .check-mar {
    margin-right: 8%;
    width: 50%;
  }

  .customFood .label {
    width: auto;
  }

  .customFood .mL0 {
    margin-left: 0 !important;
  }

  .customFood .pl-12 {
    padding-left: 0 !important;
  }

  .medicationHeading {
    margin-left: 15px;
  }

  .customFood .subFd .check-mar {
    width: auto;
  }

  .customFood .subFd .showing {
    margin-bottom: 15px;
  }

  .customFood .ml-8 {
    margin-left: 0;
  }

  .notess {
    padding: 0 15px;
  }

  .bbBoxes .kchni {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bbBoxes .blueBtn18,
  .bbBoxes .greyBtn18 {
    padding: 6px 25px;
  }

  .sixNotes {
    padding: 0 15px;
  }

  .sixNotes textarea {
    width: 100%;
  }

  .ttPlan .dClm {
    flex-direction: column;
  }

  .ttPlan .dClm .medicationHeading2 {
    margin-bottom: 15px;
  }

  .ttPlan .pl-12 {
    padding-left: 15px;
  }

  .ttPlan .mt-6 {
    margin-top: 0;
  }

  .ttPlan .width-full {
    width: 100%;
    padding: 0;
  }

  .mle15 {
    padding-left: 15px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .overFlowDiv {
    overflow: scroll;
  }

  .overFlowDiv table .last button {
    margin-bottom: 5px;
  }
}

@media (min-width: 685px) and (max-width: 767px) {

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .allti {
    flex-direction: column;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  textarea {
    width: 100%;
  }

  .trackerLogo {
    position: absolute;
  }

  .para1 {
    color: #fff;
  }

  .trackerLogo img {
    width: 60%;
    margin-top: 3rem;
  }

  .trackerLogo .mb-16 {
    display: flex;
    justify-content: center;
  }

  .responsiveForm {
    position: absolute !important;
    width: 100%;
  }

  .responsiveForm img {
    width: 43%;
    margin-top: 0;
    margin-left: 4rem;
  }

  .responsiveForm .formMain {
    margin: 30px 0 0 0;
  }

  .responsiveForm .formMain input {
    padding-left: 12px;
  }

  nav {
    display: none !important;
  }

  .resp-main-dash {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .schedule-table {
    width: 100%;
  }

  .left-col,
  .right-body,
  .schedule-table,
  .database-table,
  .tools-table {
    width: 96% !important;
    margin-left: 2%;
  }

  .carousel-container .right-body {
    padding: 59px 0 0 20px;
  }

  .chk-btn-background {
    margin-left: 2% !important;
    margin-bottom: 15px;
  }

  .right-body .date-lbl {
    float: left;
  }

  .right-body label {
    margin-left: 2% !important;
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .hr {
    margin-left: 0 !important;
    width: 100% !important;
  }

  navigation-mob {
    display: block !important;
  }

  #sBar {
    display: none;
  }

  .headingSchedule {
    width: 100%;
  }

  .f-d-c {
    flex-direction: column;
  }

  .f-d-c h1 {
    font-size: 18px;
  }

  .f-d-c .date {
    margin-left: 0 !important;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  .mL0 {
    margin-left: 0 !important;
  }

  .cal-div hr {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
  }

  .res-d {
    flex-direction: column;
  }

  .sec1 .h-12 {
    height: auto !important;
  }

  .sec1 .completed {
    top: 5px;
    left: 5px;
  }

  .cardForm .allButtons {
    display: flex;
    justify-content: space-between;
  }

  .cardForm .allButtons button {
    padding: 6px 16px !important;
    font-size: 8px !important;
    margin-right: 0 !important;
    margin: 0 12px;

  }

  .inProgFur {
    flex-direction: row-reverse;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
  }

  .inProgFur .h-12 {
    height: auto !important;
  }

  .inProgFur .buttonBlue {
    margin-right: 0 !important;
  }

  .inProgFur .january {
    font-size: 15px;
  }

  .inProgFur .checkFur {
    padding: 5px !important;
  }

  .tcPage .tcRec {
    text-align: center;
    height: auto;
    width: 84%;
    margin-bottom: 2rem;
  }

  .tcPage .sDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .tcPage .ml-12 {
    margin-left: 4%;
    padding-left: 0 !important;
  }

  .tcPage .tracks {
    flex-direction: column;
    width: 100%;
  }


  .tracks-comp {
    width: auto;
    flex-direction: column;
  }

  .tcPage .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85px;
    margin-top: 20px;
  }

  .tcPage .tracks div {
    width: 100%;
  }

  .activiHead {
    margin-left: 4%;
    margin-top: -20px;
  }

  .data-div {
    width: auto !important;
  }

  .tcPage .tracks-comp {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .profile .cen .cenCard {
    width: 195px;
  }

  .data-div p {
    width: auto !important;
  }

  .tcPage .main {
    border: none;
  }

  .notes-content {
    margin: 0 !important;
    padding: 20px !important;
    width: auto !important;
    height: 100vh !important;
  }

  .modal-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
  }

  .btnCon {
    margin-top: 2rem !important;
  }

  .pee-content,
  .snapshots-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
    overflow: inherit !important;
  }

  .mainDb .upperCon {
    flex-direction: column;
    margin-left: 4%;
  }

  .mainDb .massMessage-heading h1 {
    margin-bottom: 15px;
  }

  .mainDb .sync-Btn {
    margin-top: 15px;
  }

  .sMainDb .form1 input {
    width: 100%;
  }

  .sMainDb .asda {
    margin: 2.5rem 15px;
  }

  .sMainDb .databaseParagraph {
    margin-top: 15px;
  }

  .dbpage {
    flex-direction: column;
    margin-left: 4% !important;
  }

  .style1 {
    display: none;
  }

  .breeze {
    padding-left: 0 !important;
    margin-left: 4% !important;
  }

  .vr {
    padding-left: 0 !important;
  }

  .dbpage .date {
    margin-left: 0;
  }

  .dbFor .-mx-2 {
    margin-left: 4% !important;
  }

  .dbFor .bcv {
    flex-direction: column;
  }

  .dbFor .bcv .h-12 {
    height: auto !important;
  }

  .dbAllB .w-1\/4 {
    width: auto !important;
  }

  .dbAllB {
    margin: 25px 0;
    padding: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 0 !important;
  }

  .inputvision input {
    width: 94% !important;
  }

  .ttFur {
    flex-direction: column;
  }

  .ttFur .h-12 {
    height: auto !important;
  }

  .dbFor .react-date-picker {
    width: 94% !important;
  }

  .dbFor .react-date-picker svg {
    width: 13px;
    margin-top: -3px;
  }

  .dbFor {
    width: 94%;
  }

  .mainDiv {
    flex-direction: column;
  }

  .res-hide {
    display: none;
  }

  .mainF {
    flex-direction: column;
  }

  .mainF .trackerLogo {
    position: unset;
  }

  .mainF .bg-main {
    color: white;
    width: auto;
    margin: auto;
    padding: 0 25px;
  }

  .mainF .text1,
  .mainF .text2 {
    display: contents;
  }

  .mainF .heading {
    padding-left: 0;
    text-align: center;
  }

  .mainF .mainDiv {
    margin-bottom: 15px;
    justify-content: space-around;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mainF .text1 input {
    margin-bottom: 15px;
    width: 100%;
  }

  .mainF .text2 input {
    width: 100%;
  }

  .mainF .btn5 {
    margin-bottom: 25px;
    margin-top: -10px;
  }

  .mainF .bg-text h2 {
    margin-bottom: 15px;
  }

  .customFood .top1 {
    margin: 0 15px;
  }

  .customFood .top2 .forBg-clr {
    padding: 0 15px;
  }

  .customFood .mainDd,
  .customFood .subFd {
    flex-direction: column;
  }

  .customFood .medicationHeading2 {
    margin-bottom: 15px;
  }

  .customFood .check-mar {
    margin-right: 8%;
    width: 50%;
  }

  .customFood .label {
    width: auto;
  }

  .customFood .mL0 {
    margin-left: 0 !important;
  }

  .customFood .pl-12 {
    padding-left: 0 !important;
  }

  .medicationHeading {
    margin-left: 15px;
  }

  .customFood .subFd .check-mar {
    width: auto;
  }

  .customFood .subFd .showing {
    margin-bottom: 15px;
  }

  .customFood .ml-8 {
    margin-left: 0;
  }

  .notess {
    padding: 0 15px;
  }

  .bbBoxes .kchni {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bbBoxes .blueBtn18,
  .bbBoxes .greyBtn18 {
    padding: 6px 25px;
  }

  .sixNotes {
    padding: 0 15px;
  }

  .sixNotes textarea {
    width: 100%;
  }

  .ttPlan .dClm {
    flex-direction: column;
  }

  .ttPlan .dClm .medicationHeading2 {
    margin-bottom: 15px;
  }

  .ttPlan .pl-12 {
    padding-left: 15px;
  }

  .ttPlan .mt-6 {
    margin-top: 0;
  }

  .ttPlan .width-full {
    width: 100%;
    padding: 0;
  }

  .mle15 {
    padding-left: 15px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .overFlowDiv {
    overflow: scroll;
  }

  .overFlowDiv table .last button {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .allti {
    flex-direction: column;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  .trackerLogo {
    position: absolute;
  }

  .para1 {
    color: #fff;
  }

  .trackerLogo img {
    width: 60%;
    margin-top: 3rem;
  }

  .trackerLogo .mb-16 {
    display: flex;
    justify-content: center;
  }

  .responsiveForm {
    position: absolute !important;
    width: 100%;
  }

  .responsiveForm img {
    width: 43%;
    margin-top: 0;
    margin-left: 4rem;
  }

  .responsiveForm .formMain {
    margin: 30px 0 0 0;
  }

  .responsiveForm .formMain input {
    padding-left: 12px;
  }

  nav {
    display: none !important;
  }

  .resp-main-dash {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .schedule-table {
    width: 100%;
  }

  .left-col,
  .right-body,
  .schedule-table,
  .database-table,
  .tools-table {
    width: 96% !important;
    margin-left: 2%;
  }

  .carousel-container .right-body {
    padding: 59px 0 0 20px;
  }

  .chk-btn-background {
    margin-left: 2% !important;
    margin-bottom: 15px;
  }

  .right-body .date-lbl {
    float: left;
  }

  .right-body label {
    margin-left: 2% !important;
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .hr {
    margin-left: 0 !important;
    width: 100% !important;
  }

  navigation-mob {
    display: block !important;
  }

  #sBar {
    display: none;
  }

  .headingSchedule {
    width: 100%;
  }

  .f-d-c {
    flex-direction: column;
  }

  .f-d-c h1 {
    font-size: 18px;
  }

  .f-d-c .date {
    margin-left: 0 !important;
  }

  .w-1\/2 {
    width: 100% !important;
  }

  .mL0 {
    margin-left: 0 !important;
  }

  .cal-div hr {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
  }

  .res-d {
    flex-direction: column;
  }

  .sec1 .h-12 {
    height: auto !important;
  }

  .sec1 .completed {
    top: 5px;
    left: 5px;
  }

  .cardForm .allButtons {
    display: flex;
    justify-content: space-between;
  }

  .cardForm .allButtons button {
    padding: 6px 16px !important;
    font-size: 8px !important;
    margin-right: 0 !important;
    margin: 0 12px;

  }

  .inProgFur {
    flex-direction: row-reverse;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
  }

  .inProgFur .h-12 {
    height: auto !important;
  }

  .inProgFur .buttonBlue {
    margin-right: 0 !important;
  }

  .inProgFur .january {
    font-size: 15px;
  }

  .inProgFur .checkFur {
    padding: 5px !important;
  }

  .tcPage .tcRec {
    text-align: center;
    height: auto;
    width: 84%;
    margin-bottom: 2rem;
  }

  .tcPage .sDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .tcPage .ml-12 {
    margin-left: 4%;
    padding-left: 0 !important;
  }

  .tcPage .tracks {
    flex-direction: column;
    width: 100%;
  }


  .tracks-comp {
    width: auto;
    flex-direction: column;
  }

  .tcPage .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85px;
    margin-top: 20px;
  }

  .tcPage .tracks div {
    width: 100%;
  }

  .activiHead {
    margin-left: 4%;
    margin-top: -20px;
  }

  .data-div {
    width: auto !important;
  }

  .tcPage .tracks-comp {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .profile .cen .cenCard {
    width: 195px;
  }

  .data-div p {
    width: auto !important;
  }

  .tcPage .main {
    border: none;
  }

  .notes-content {
    margin: 0 !important;
    padding: 20px !important;
    width: auto !important;
    height: 100vh !important;
  }

  .modal-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
  }

  .btnCon {
    margin-top: 2rem !important;
  }

  .pee-content,
  .snapshots-content {
    width: auto !important;
    height: 100vh !important;
    margin-top: 0 !important;
    overflow: inherit !important;
  }

  .mainDb .upperCon {
    flex-direction: column;
    margin-left: 4%;
  }

  .mainDb .massMessage-heading h1 {
    margin-bottom: 15px;
  }

  .mainDb .sync-Btn {
    margin-top: 15px;
  }

  .sMainDb .form1 input {
    width: 100%;
  }

  .sMainDb .asda {
    margin: 2.5rem 15px;
  }

  .sMainDb .databaseParagraph {
    margin-top: 15px;
  }

  .dbpage {
    flex-direction: column;
    margin-left: 4% !important;
  }

  .style1 {
    display: none;
  }

  .breeze {
    padding-left: 0 !important;
    margin-left: 4% !important;
  }

  .vr {
    padding-left: 0 !important;
  }

  .dbpage .date {
    margin-left: 0;
  }

  .dbFor .-mx-2 {
    margin-left: 4% !important;
  }

  .dbFor .bcv {
    flex-direction: column;
  }

  .dbFor .bcv .h-12 {
    height: auto !important;
  }

  .dbAllB .w-1\/4 {
    width: auto !important;
  }

  .dbAllB {
    margin: 25px 0;
    padding: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 0 !important;
  }

  .inputvision input {
    width: 94% !important;
  }

  .ttFur {
    flex-direction: column;
  }

  .ttFur .h-12 {
    height: auto !important;
  }

  .dbFor .react-date-picker {
    width: 94% !important;
  }

  .dbFor .react-date-picker svg {
    width: 13px;
    margin-top: -3px;
  }

  .dbFor {
    width: 94%;
  }

  .mainDiv {
    flex-direction: column;
  }

  .res-hide {
    display: none;
  }

  .mainF {
    flex-direction: column;
  }

  .mainF .trackerLogo {
    position: unset;
  }

  .mainF .bg-main {
    color: white;
    width: auto;
    margin: auto;
    padding: 0 25px;
  }

  .mainF .text1,
  .mainF .text2 {
    display: contents;
  }

  .mainF .heading {
    padding-left: 0;
    text-align: center;
  }

  .mainF .mainDiv {
    margin-bottom: 15px;
    justify-content: space-around;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
  }

  .mainF .text1 input {
    margin-bottom: 15px;
    width: 100%;
  }

  .mainF .text2 input {
    width: 100%;
  }

  .mainF .btn5 {
    margin-bottom: 25px;
    margin-top: -10px;
  }

  .mainF .bg-text h2 {
    margin-bottom: 15px;
  }

  .customFood .top1 {
    margin: 0 15px;
  }

  .customFood .top2 .forBg-clr {
    padding: 0 15px;
  }

  .customFood .mainDd,
  .customFood .subFd {
    flex-direction: column;
  }

  .customFood .medicationHeading2 {
    margin-bottom: 15px;
  }

  .customFood .check-mar {
    margin-right: 8%;
    width: 50%;
  }

  .customFood .label {
    width: auto;
  }

  .customFood .mL0 {
    margin-left: 0 !important;
  }

  .customFood .pl-12 {
    padding-left: 0 !important;
  }

  .medicationHeading {
    margin-left: 15px;
  }

  .customFood .subFd .check-mar {
    width: auto;
  }

  .customFood .subFd .showing {
    margin-bottom: 15px;
  }

  .customFood .ml-8 {
    margin-left: 0;
  }

  .notess {
    padding: 0 15px;
  }

  .bbBoxes .kchni {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bbBoxes .blueBtn18,
  .bbBoxes .greyBtn18 {
    padding: 6px 25px;
  }

  .sixNotes {
    padding: 0 15px;
  }

  .sixNotes textarea {
    width: 100%;
  }

  .ttPlan .dClm {
    flex-direction: column;
  }

  .ttPlan .dClm .medicationHeading2 {
    margin-bottom: 15px;
  }

  .ttPlan .pl-12 {
    padding-left: 15px;
  }

  .ttPlan .mt-6 {
    margin-top: 0;
  }

  .ttPlan .width-full {
    width: 100%;
    padding: 0;
  }

  .check-mar {
    margin-right: 10%;
    width: 100%;
  }

  .mle15 {
    padding-left: 15px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .overFlowDiv {
    overflow: scroll;
  }

  .overFlowDiv table .last button {
    margin-bottom: 5px;
  }

  .last {
    width: 25% !important;
  }

  textarea {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .data-div {
    width: auto !important;
  }

  .profile .cen {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .tcPage .profile {
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0 !important;
    width: 95%;
  }

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  .right-body {
    width: 67%;
    margin-left: 12%;
  }

  nav .flex-shrink-0 {
    margin-right: 0
  }

  nav .flex-shrink-0 .pad {
    margin-left: 0;
  }

  nav .tabL {
    display: flex;
    align-items: center;
    width: 84%
  }

  nav .mr-12 {
    margin-right: 30px;
  }

  .right-body {
    width: 66% !important;
    margin-left: 12% !important;
  }

  .vr {
    width: 100% !important;
  }

  .inputvision input {
    width: 84%;
    height: 44px !important;

  }

  .react-date-picker {
    height: 44px !important;
    width: 85% !important;
  }

  .check-mar {
    margin-bottom: 15px;
  }

  .check-mar label {
    font-size: 18px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .ttPlan {
    padding: 15px;
  }

  textarea {
    width: 100%;
  }

  .notess,
  .sixNotes {
    padding: 15px;
  }

  .medicationHeading,
  .medicationHeading2 {
    padding: 0 15px;
  }

  .customFood {
    padding: 15px;
  }

  .email {
    width: 21% !important;
  }

  .last {
    width: 38% !important;
  }

  .dbpage {
    width: 62% !important;
  }

  .allButtons {
    width: 62%;
  }

}

@media (min-width: 1024px) and (max-width: 1199px) {
  .profile .pl-12 {
    width: 100%;
  }

  .tcPage .profile {
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
    width: 95%;
  }

  .data-div {
    width: 100% !important;
  }

  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  .dbpage {
    width: 62% !important;
  }

  .allButtons {
    width: 62%;
  }

  .inputvision select {
    height: 44px;
  }

  .right-body {
    width: 67%;
    margin-left: 12%;
  }

  nav .flex-shrink-0 {
    margin-right: 0
  }

  nav .flex-shrink-0 .pad {
    margin-left: 0;
  }

  nav .tabL {
    display: flex;
    align-items: center;
    width: 84%
  }

  nav .mr-12 {
    margin-right: 30px;
  }

  .right-body {
    width: 66% !important;
    margin-left: 12% !important;
  }

  .vr {
    width: 100% !important;
  }

  .inputvision input {
    width: 84%;
    height: 44px !important;

  }

  .react-date-picker {
    height: 44px !important;
    width: 85% !important;
  }

  .check-mar {
    margin-bottom: 15px;
  }

  .check-mar label {
    font-size: 18px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .ttPlan {
    padding: 15px;
  }

  textarea {
    width: 100%;
  }

  .notess,
  .sixNotes {
    padding: 15px;
  }

  .medicationHeading,
  .medicationHeading2 {
    padding: 0 15px;
  }

  .customFood {
    padding: 15px;
  }

  .email {
    width: 21% !important;
  }

  .last {
    width: 37% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .toolSet {
    padding: 15px;
  }

  .toolSet .flex.justify-between.mt-12 {
    flex-direction: column;
  }

  .toolSet .flex.-mx-2 {
    flex-direction: column;
  }

  .toolSet button {
    margin-top: 15px;
  }

  .toolSet .h-12 {
    height: auto;
  }

  .toolSet .cardHeight {
    min-height: 20px !important;
  }

  .addBtn {
    margin-right: 15px;
  }

  .ttPlan .h-64 {
    height: auto !important;
  }

  .right-body {
    width: 67%;
    margin-left: 12%;
  }

  nav .flex-shrink-0 {
    margin-right: 0
  }

  nav .flex-shrink-0 .pad {
    margin-left: 0;
  }

  nav .tabL {
    display: flex;
    align-items: center;
    width: 84%
  }

  nav .mr-12 {
    margin-right: 30px;
  }

  .right-body {
    width: 66% !important;
    margin-left: 12% !important;
  }

  .vr {
    width: 100% !important;
  }

  .inputvision input {
    width: 84%;
    height: 44px !important;

  }

  .react-date-picker {
    height: 44px !important;
    width: 85% !important;
  }

  .check-mar {
    margin-bottom: 15px;
  }

  .check-mar label {
    font-size: 18px;
  }

  .manageUsersAll {
    padding: 15px;
  }

  .ttPlan {
    padding: 15px;
  }

  textarea {
    width: 100%;
  }

  .notess,
  .sixNotes {
    padding: 15px;
  }

  .medicationHeading,
  .medicationHeading2 {
    padding: 0 15px;
  }

  .customFood {
    padding: 15px;
  }

  .email {
    width: 21% !important;
  }

  .last {
    width: 32% !important;
  }
}